*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    border: 2px solid black;
    box-shadow: 1px 1px 5px gray;
    padding: 15px;
    height: 50vh;
    border-radius: 5%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}


button{
    margin: 15px;
    font-size: 30px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8%;
    cursor: pointer;
}

input{
    border-radius: 10%;
    width: 60%;
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
}